.status-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: .15rem .5rem;
    border-radius: 9rem;
    min-width: 90px;
    border: 2px solid;
    font-size: .875rem;
}

.status-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .15rem .5rem;
    border-radius: 999px;
    min-width: 90px;
    font-size: .875rem;
}

.status-ativo {
    background-color: #e6f4e6;
    color: #2ecc71;
    border-color: #2ecc71;
}

.status-inativo {
    background-color: #fde6e6;
    color: #e74c3c;
    border-color: #e74c3c;
}

.status-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 4px;
}

.status-ativo .status-circle {
    background-color: #2ecc71;
}

.status-inativo .status-circle {
    background-color: #e74c3c;
    margin-left: 0;
    margin-right: 4px;
}

/* Tabs */
.nav-underline {
    --tblr-border-width: 1px;
    --tblr-nav-tabs-border-width: var(--tblr-border-width);
    --tblr-nav-tabs-border-color: var(--tblr-border-color);
    --tblr-border-color: #e5e7eb;
    border-bottom: var(--tblr-nav-tabs-border-width) solid var(--tblr-nav-tabs-border-color);
}
.nav-underline .nav-link:hover,
.nav-underline .nav-link:focus
{
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom-color: currentcolor !important;
}